/*Floating Back-To-Top Button*/
#myBtn {
    position: fixed;
    bottom: 10px;
    float: right;
    right: 18.5%;
    left: 84.25%;
    max-width: 30px;
    width: 100%;
    font-size: 12px;
    border-color: rgba(60, 129, 231, 0.2);
    background-color: white;
    padding: .5px;
    border-radius: 4px;

}
#myBtn1 {
    position: fixed;
    bottom: 10px;
    float: right;
    right: 18.5%;
    left: 77.25%;
    max-width: 30px;
    width: 100%;
    font-size: 12px;
    border-color: rgba(60, 129, 231, 0.2);
    background-color: white;
    padding: .5px;
    border-radius: 4px;

}
/*On Hover Color Change*/
#myBtn:hover {
    background-color: #7dbbf1;
}